Package: myrep
Version: 1.0-2
Section: utils
Priority: optional
Architecture: all
Depends: apt
Maintainer: Kevin Alexander Krefting <deine.email@beispiel.com>
Description: Ein Hilfsskript für proot und proot-distro
 Dieses Paket stellt ein Tool bereit, das auf proot und proot-distro aufbaut,
 um eine verbesserte Funktionalität für spezifische Anwendungsfälle anzubieten.
